#B{
    background-color:#00ffff;
}
.login_div1, .login_div2
{
    background: white;
    padding: 10px;
    margin: auto ;
    float: none;
    border-radius: 15px;
}



#paea {background-color: rgb(145, 73, 40);
        width: 50%;

    }